:root {
  --main-white: #ffffff;
  --main-font-color: #242424;
  --dark-purple: #7353ea;
  --light-purple: #d6c9ff;
  --dark-gray: #616161;
  --light-gray: #bdbdbd;
  --blue-gray: #d8e0e9;
  --swiper-theme-color: #7353ea;
  --swiper-navigation-size: 2.4rem;
}
